.array {
   margin: 10rem auto;
   width: 80%;

   @include responsive(tablet) {
      width: 90%;
   }

   &__info {
      display: flex;
      justify-content: space-between;
      font-size: 3rem;

      & span {
         margin-left: 1rem;
      }
   }

   &__bars {
      height: 500px;
      display: flex;
      align-items: end;
      margin-top: 5rem;

      @include responsive(phone) {
         height: 250px;
      }
   }

   &__bar {
      flex: 1;
      background-image: linear-gradient(180deg, var(--clr-primary-lt), var(--clr-primary), var(--clr-base-lt));

      &:not(:last-child) {
         margin-right: .4rem;

         @include responsive(small-laptop) {
            margin-right: .2rem;
         }  
      }

      &--current {
         box-shadow: 0 0 1rem .8rem rgba(15, 165, 229, 1);
      }
   }
}