.array {
   margin: 10rem auto;
   width: 80%;
   padding: 0 5rem;

   &__info {
      display: flex;
      justify-content: space-between;
      font-size: 3rem;

      & span {
         margin-left: 1rem;
      }
   }
}