.size {
   &__label {
      margin-right: 2rem;

      @include responsive(phone) {
         margin-right: 1rem;
      }
   }

   &__range {
      outline: none;
      width: 50%;
      cursor: pointer;
   }
}