body {
   font-family: 'Roboto', sans-serif;
   font-size: var(--font-size-base);
   color: var(--clr-ntrl-min);
   background-color: var(--clr-base);

   &::-webkit-scrollbar {
      display: none;
   }
}