*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;

   @include responsive(tablet) {
      font-size: 50%;
   }

   @include responsive(phone) {
      font-size: 45%;
   }
}

ul {
   list-style: none;
}